.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: inline-block;
    object-fit: contain;
  }
  &__text {
    color: var(--color-accent);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: color 0.2s;
    cursor: pointer;
    &:hover {
      color: #005c00;
    }
    &--hide-mobile {
      @media (max-width: 760px) {
        display: none;
      }
    }
  }
}
